:root {
  --color-background: rgba(243, 186, 47, 0.15);
  --color-background-primary: #ffd42c;
  --color-background-primary-light: rgba(255, 212, 44, 0.2);
  --color-background-primary-dark: #e2ad06;
  --color-background-white: #fff;
  --color-background-grey: #b7c6d8;
  --color-background-light-grey: #eff3f8;
  --color-background-green: rgba(69, 202, 114, 0.8);
  --color-background-gradient: linear-gradient(
          71.52deg,
          rgba(57, 91, 119, 0.3) 16.69%,
          rgba(26, 36, 44, 0.3) 81.22%
  );

  --color-border-default: #dfebf5;
  --color-border-error: #da554a;
  --color-border-white: #fff;
  --color-border-red: #ed1c24;

  --color-text-primary-dark: #e2ad06;
  --color-text-accent: #da554a;
  --color-text-error: #da554a;
  --color-text-white: #fff;
  --color-text-secondary: #343840;
  --color-text-grey: #828a97;
  --color-text-black: #000;

  --color-subtext-light: #b3b7bf;

  --color-box-shadow: 0 16px 44px rgba(78, 102, 120, 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0;
}
